body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
section{
    margin: 29px;

}

.choice{
    width: 100px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.choice:hover{
    transform: scale(1.1);
}

.selected{
    border: 3px solid #4CAF50;
    border-radius: 10px;
}